.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
}

.user
{
  width: 50%;
  /*background-color: aqua;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box
{
  width: 50%;
  /*background-color: blueviolet;*/
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
 
}

.profile-pic
{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /*box-shadow: 5px 5px 10px rosybrown;*/
  overflow: hidden;
  margin-bottom: 10px;
  animation: myAnimation 3s infinite ;
}

@keyframes myAnimation
{
  0%{box-shadow: 5px 5px 10px rgb(6, 173, 12);}
  33%{box-shadow: 5px 5px 10px rgb(196, 14, 14);}
  66%{box-shadow: 5px 5px 10px rgb(19, 17, 177);}
  100%{box-shadow: 5px 5px 10px rgb(210, 210, 14);}
}
 
textarea
{
  width: 60%;
  height: 200px;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px whitesmoke;
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 20px;
}

button
{
  width: 63%;
  border: none;
  outline: none;
  background-color: burlywood;
  color: black;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.pic 
{
  width: 300px;
  height: 300px;
}

textarea::-webkit-scrollbar
{
  display: none;
}

button:hover
{
  box-shadow: 5px 5px 10px rgb(133, 129, 25);
}